* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Source Sans Pro', 'Verdana', sans-serif;
  font-weight: 600;
}
@font-face {
  font-family: 'Source Sans Pro';
  src: url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
}

.products__form {
  padding: 24px;
}